// 判断值是否是 null、undefined 或 ''
var processingValue = function(val){
  var processOne = val;
  var processTwo = '';
  if(processOne == undefined || processOne == null || processOne == "undefined" || processOne == "null" || processOne == ''){
    processTwo = '';
  }else{
    processTwo = processOne;
  }
  return processTwo
}
// 判断值是 null、undefined 或 ''返回true；否则返回false
var judgeValue = function(val){
  var str = val;
  var returnStr = false;
  if(str == undefined || str == null || str == "undefined" || str == "null" || str == ''){
    returnStr = false;
  }else{
    returnStr = true;
  }
  return returnStr
}
// 根据数字、字符串返回性别
var genderChange = function(str){
  var ruturnStr = "暂无";
  if (str == undefined || str == null || str == "undefined" || str == "null" || str == ''){
    ruturnStr = "暂无";
  } else if (str == 0 || str == '0'){
    ruturnStr = "男";
  }else{
    ruturnStr = "女";
  }
  return ruturnStr
}
// 根据数字、字符串返回状态
var stateChange = function(str){
  var ruturnStr = "未设计";
  if (str == undefined || str == null || str == "undefined" || str == "null" || str == '') {
    ruturnStr = "未设计";
  } else if (str == 1 || str == '1') {
    ruturnStr = "资料未上传";
  } else if (str == 2 || str == '2'){
    ruturnStr = "未设计";
  } else if (str == 3 || str == '3') {
    ruturnStr = "已完成";
  }
  return ruturnStr
}
// 根据数字转化为中文数字
var numberChangeChinaese = function(str){
  var returnStr = "";
  if (str == 0){
    returnStr = "一";
  } else if (str == 1){
    returnStr = "二";
  } else if (str == 2) {
    returnStr = "三";
  } else if (str == 3) {
    returnStr = "四";
  } else if (str == 4) {
    returnStr = "五";
  } else if (str == 5) {
    returnStr = "六";
  }
  return returnStr
}
module.exports = {
  processingValue: processingValue,
  judgeValue:judgeValue,
  genderChange: genderChange,
  stateChange: stateChange,
  numberChangeChinaese: numberChangeChinaese
}